@model IEnumerable<mvc4.Models.InvestorModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center w-100">
    <h1 class="display-4">Welcome</h1>
    <form method="post" asp-controller="Home" asp-action="ExportPDF" id="pdfForm">
    <div class="w-100 d-flex flex-row justify-content-end align-content-center">
        <input type="text" name="html" id="html" style="display: none;" />
            <button id="btnExportPdf" class="button border border-dark border-2 p-1 text-black text-decoration-none m-2">Pdf Download</button>
            <a href="/Home/ExportCSV" class="button border border-dark border-2 p-1 text-black text-decoration-none m-2">Export CSV</a>
    </div>

        <div id="pdfData" class="w-100 ms-5">
        <table border="1" class="w-100">
            <thead>
                <tr class="border border-1 border-dark">
                        <th class="border-end border-1 border-dark">
                        Id
                    </th>
                        <th class="border-end border-1 border-dark">
                        Name
                    </th>
                        <th class="border-end border-1 border-dark">
                        Logo
                    </th>
                    <th class="border-end border-1 border-dark">
                        Address
                    </th>
                    <th class="border-end border-1 border-dark">
                        Email
                    </th>
                    <th class="border-end border-1 border-dark">
                        Contact
                    </th>
                    <th class="border-end border-1 border-dark">
                        Client
                    </th>
                    <th class="border-end border-1 border-dark">
                        Fund
                    </th>
                    <th class="border-end border-1 border-dark">
                        DOR
                    </th>
                    <th class="border-end border-1 border-dark">
                        IsActive
                    </th>
                    <th>
                        Features
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="border border-1 border-dark">
                        <td class="border-end border-1 border-dark">
                            @Html.DisplayFor(modelItem => item.InvestorId)
                        </td>
                            <td class="border-end border-1 border-dark">
                            @Html.DisplayFor(modelItem => item.InvestorName)
                        </td>
                            <td class="border-end border-1 border-dark">
                            <img height="150px" src="~/Images/@Url.Content(item.InvestorLogo)" alt="image" />
                            @* @Html.DisplayFor(modelItem => item.InvestorLogo) *@
                        </td>
                            <td class="border-end border-1 border-dark">
                            @Html.DisplayFor(modelItem => item.InvestorAddress)
                        </td>
                        <td class="border-end border-1 border-dark">
                            @Html.DisplayFor(modelItem => item.InvestorEmail)
                        </td>
                        <td class="border-end border-1 border-dark">
                            @Html.DisplayFor(modelItem => item.InvestorContact)
                        </td>
                        <td class="border-end border-1 border-dark">
                            @Html.DisplayFor(modelItem => item.ClientId)
                        </td>
                        <td class="border-end border-1 border-dark">
                            @Html.DisplayFor(modelItem => item.FundId)
                        </td>
                        <td class="border-end border-1 border-dark">
                            @Html.DisplayFor(modelItem => item.InvestorDate)
                        </td>
                        <td class="border-end border-1 border-dark">
                            @Html.DisplayFor(modelItem => item.InvestorActive)
                        </td>
                        <td class="d-flex flex-row justify-content-around align-content-center pt-4">
                            <a class="button border border-dark border-2 text-black text-decoration-none p-1" href="/Home/InvestorView?id=@Url.Content(item.InvestorId.ToString())">View</a>
                            <a class="button border border-dark border-2 text-black text-decoration-none p-1" href="/Home/PrintPDF?url=http://localhost:5070/Home/InvestorView?id=@(item.InvestorId)">PDF</a>
                                <a class="button border border-dark border-2 text-black text-decoration-none p-1" href="/Home/PrintPDF?url=http://localhost:5070/Home/Demo?id=@(item.InvestorId)">Form PDF</a>
                            <a class="button border border-dark border-2 text-black text-decoration-none p-1" href="/Home/EditView?id=@(item.InvestorId)">Edit</a>
                            <a class="button border border-dark border-2 text-black text-decoration-none p-1" href="/Home/DeleteInvestor?id=@(item.InvestorId)">Del</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    </form>
    @* <img height="300" src="/Bar_QrCode/Qrcode?inves=Id:@(Model.FirstOrDefault().InvestorId),Name:@(Model.FirstOrDefault().InvestorName),Email:@(Model.FirstOrDefault().InvestorEmail),Contact:@(Model.FirstOrDefault().InvestorContact)" /> *@
</div>

<script>
    const btn = document.getElementById("btnExportPdf");
    const pdfData = document.getElementById("pdfData");
    const htmlData = document.getElementById("html");
    pdfData.onload = htmlData.value = pdfData.innerHTML;

    // function printPdf(htmlId) {
    //     var data = document.getElementById(htmlId).innerHTML;
    //     htmlData.value = data;
    //     document.getElementById("pdfForm").submit();
    //     console.log(htmlId);
    // }
</script>
